*.png
*.jpg
*.zip
/ACC-debug/*
/ACC_Setup_v2/*
/build-GUI_test3-Desktop-Debug/*
/build-GUI_test3-RaspiQt-Release/*
/build-qmlTest-Desktop-Debug/*
/build-RaspberryDemo-Desktop-Debug/*
/build-RaspberryDemo-RaspiQt-Release/*
/ha_acc_4_19_2023/*
/ha_acc_project/*
/QML_course/*
/qmlTest/*
/QXlsx/*
/temp/*
/video/*
ha_acc_project.tar.xz
splashscreen.service
QXlsx/
GUI_test3_final/
